<!DOCTYPE html>
<html>
  <head>
    <title>Store</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
<link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>

    </head>
  <body class='<%= controller.controller_name %>'>


  
  <div id="banner">
<span class="title"><%= @page_title %></span>
</div>
<div id="columns">
<div id="side">

<ul>
<li><a href="/products"><%= t "menu.home" %></a></li>
<li><a href="/store/index"><%= t "menu.products" %></a></li>
<li><a href="/carts/"><%= t "menu.carts" %></a></li>



<% if !session[:user_id] %><li><a class="nut" href="/login" > <span><%= t "menu.login" %> </span></a>
</li>
<% end %>
<% if session[:user_id] %>
<% @hihi = User.find(session[:user_id]) %>

<li><%= link_to t('menu.orders'),orders_path %></li>
<li><%= link_to t('menu.products'), products_path %></li>
<li><%= link_to t('menu.users'),users_path%></li>

<%= button_to t('menu.logout'), logout_path, method: :delete , class: 'nut' %>
<button class='nut2'> <%= t "menu.welcome" %>! <%= @hihi.name %> </button>

<% end %>
</ul>



</div>

<div id="ec">
<%= image_tag 'https://www.ispreview.co.uk/wp-content/gallery/cache/2822__500x550_sky_broadband_logo_2017.png', alt: 'Chi pu', :size=>"150x100" %>
<div class="dropdown" >
<button class="dropbtn" ><img src="https://visualpharm.com/assets/482/Shopping Cart-595b40b65ba036ed117d241c.svg" alt="Cart icon" width="30" height="30"></button>
<div class="dropdown-content">
<div id="cart"
<% if @cart %>
<%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
  <%= render @cart %>
<% end %>
<% end %>
  </div>
</div>

</div>

</div>
</div>

</div>

<div id="main"> 

<p><b>I18n.locale:</b>
<%= I18n.locale %>

    <%= yield %>   
    </body>
    
</html>
