<!DOCTYPE html>
<html>
  <head>
    <title>Store</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  

    </head>
  <body class='<%= controller.controller_name %>'>

  <div id="banner">
<span class="title"><%= @page_title %></span>
</div>
<div id="columns">
<div id="side">
<ul>
<li><a href="/products">Home</a></li>
<li><a href="/store/index">Store</a></li>
<li><a href="/store/index">News</a></li>
<li><a href="http://www..../contact">Contact</a></li>
<p style="padding-left: 89.5%"> <%= Time.now.strftime("%d/%m/%Y --  %I:%M%p") %> </p>
</ul>

</div>
<%= image_tag 'https://vnn-imgs-f.vgcloud.vn/2018/05/16/09/chi-pu-hoa-nu-hoang-ma-kinh-di-trong-mv-doa-hoa-hong-1.jpg', alt: 'Chi pu', :size=>"90x150" %>

<div id="main">
    <%= yield %>
  </body>
</html>
