<p id="notice"><%= notice %></p>
<h1><%= t "products.title" %></h1>
<table>
<% @products.each do |product| %>
<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
<td>
<%= image_tag(product.image_url, class: 'list_image') %>
</td>
<td class="list_description">
<dl>
<dt><%= link_to product.title , product %></dt>
<dd><%= truncate(strip_tags(product.description),
length: 80) %></dd>
</dl>
</td>
<td class="list_actions">
<%= link_to t('products.show'), product %><br/>
<%= link_to t('products.edit'), edit_product_path(product) %><br/>
<%= link_to t('products.Destroy'), product, method: :delete,
data: { confirm: t('products.confirm') } %>
</td>
</tr>
<% end %>
</table>
<br />
<%= link_to t('products.new'), new_product_path %>